<% if @error_message %>
    <div class="form-error">
        <%= @error_message %>
    </div>
<% end %>

<div class="container">
    <div class="box-heading">
        タスク登録
    </div>
    <div class="box-body">
        <%= form_tag("/tasks/create") do%>
            <div class="form-group">
                <label>タスク名</label>
                <input name="task_name" class='form-control bootstrap-text'>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>期限</label>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <%= date_select(:due_date,:date,{date_separator: '/',use_month_numbers: true}, {class: "form-control bootstrap-date"}) %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label>実行日</label>
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <%= date_select(:execution_date,:date,{date_separator: '/',use_month_numbers: true}, {class: "form-control bootstrap-date"}) %>
                    </div>
                </div>
            </div>
            <input type="submit" value="登録" class="btn btn-default">
        <% end %>
    </div>


    <div class="box-heading">
        タスク一覧
    </div>
    <div class="box-body">
        <table>
            <tr>
                <th>タスク名</th>
                <th>期日<%= sort_asc("due_date") %><%= sort_desc("due_date") %></th>
                <th>実行日<%= sort_asc("execution_date") %><%= sort_desc("execuiton_date") %></th>
                <th>完了</th>
            </tr>
        <% @tasks.each do |task| %>
            <% if task.done_flg != true %>
                <tr>
                    <th><%= "#{task.task_name}" %></th>
                    <th><%= "#{task.due_date}" %></th>
                    <th><%= "#{task.execution_date}" %></th>
                    <th><%= link_to("×", "/tasks/done/#{task.id}",{method: :post}) %></th>
                </tr>
            <% end %>
        <% end %>
        </table>
    <div>
</div>